.dropdownMenu{
  position: absolute;
  left: 0;
  margin-top: 0.25rem;
  z-index: 10;
}

.light{
  background-color: white;
  color: #292929;
  border: 1px solid #c2c0c0;
}

.dark{
  background-color: #292929;
  color: white;
  border: 1px solid #999999;
}

.sm{
  width: 10rem;
  border-radius: 0.3rem;
}

.md{
  width: 13rem;
  border-radius: 0.4rem;
}

.xl{
  width: 15rem;
  border-radius: 0.5rem;
}